Flow 1.json
[{"id":"fe907a3.e04c688","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6f81d8b2.3f8298","type":"http in","z":"fe907a3.e04c688","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":50,"y":320,"wires":[["950c3fe7.621db"]]},{"id":"fa9691b8.a80fa","type":"rpi-gpio in","z":"fe907a3.e04c688","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":50,"y":200,"wires":[["9255b18d.cf05"]]},{"id":"950c3fe7.621db","type":"function","z":"fe907a3.e04c688","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":320,"wires":[["e6e79cb2.b6a08","2c6d039a.cd190c"]]},{"id":"9255b18d.cf05","type":"function","z":"fe907a3.e04c688","name":"Set GPIO","func":"global.set(\"GPIO\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["2c6d039a.cd190c"]]},{"id":"e6e79cb2.b6a08","type":"http response","z":"fe907a3.e04c688","name":"","statusCode":"","headers":{},"x":520,"y":200,"wires":[]},{"id":"2c6d039a.cd190c","type":"debug","z":"fe907a3.e04c688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":300,"wires":[]}]