Flow 2.json
[{"id":"42fd669f.1e9fe8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6f02be11.bcb11","type":"http in","z":"42fd669f.1e9fe8","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["8766ed56.64cd4","6c077640.e79a88"]]},{"id":"8766ed56.64cd4","type":"function","z":"42fd669f.1e9fe8","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["a5e5f2a0.fd7bb"]]},{"id":"a5e5f2a0.fd7bb","type":"rpi-gpio out","z":"42fd669f.1e9fe8","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":490,"y":140,"wires":[]},{"id":"6c077640.e79a88","type":"function","z":"42fd669f.1e9fe8","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["14e48f59.7e63f1","5fabe54b.d1a83c"]]},{"id":"14e48f59.7e63f1","type":"http response","z":"42fd669f.1e9fe8","name":"","statusCode":"","headers":{},"x":500,"y":220,"wires":[]},{"id":"5fabe54b.d1a83c","type":"debug","z":"42fd669f.1e9fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":280,"wires":[]},{"id":"bd1c23be.9a918","type":"http in","z":"42fd669f.1e9fe8","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":120,"y":300,"wires":[["d212ab8c.2b0408","9a1f2649.1351d8"]]},{"id":"d212ab8c.2b0408","type":"function","z":"42fd669f.1e9fe8","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["a5e5f2a0.fd7bb"]]},{"id":"9a1f2649.1351d8","type":"function","z":"42fd669f.1e9fe8","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["14e48f59.7e63f1","5fabe54b.d1a83c"]]}]